*,
*::after,
*::before {
    /*applied on everything existed before and after*/
    box-sizing: border-box;
}

/* general hidden on desktop //////////////////////////////*/

.hidden-desktop {
    display: none;
}

@media all and (max-width: 600px) {
    .hidden-desktop {
        display: inline;
    }

}

@media all and (max-width: 800px) {
    .hidden-desktop {
        display: inline;
    }
}


/* main navigation //////////////////////////////*/

.original-menu {
    display: inline;
}

.new-menu-500px {
    display: none;
}

@media all and (max-width: 800px) {
    .original-menu {
        display: none;
    }

    .new-menu-500px {
        display: inline;
        width: 100%;
    }
}

/* number list /////////////////////////////////////////////////
///////////////////////////////////////////////////////////*/
.size-nlist a {
    display: inline-block;
    color: #53929b;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.selected-nlist a {
    color: #68AD7D;
    padding: 0.2em;
}

/* things that changed////////////////////////////////////////////////
///////////////////////////////////////////////////////////*/
.bottom-page {
    margin: 0px 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.slideshow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.slide-textbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.headline-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.new-collection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.image-college {
    padding: 2%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
}

.size-3of4 .image-college {
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    padding: 0px;
}

.size-3of4 h4,
.size-3of4 button {
    text-align: center;
    justify-content: flex-end;
}

.image-college figcaption {
    flex-direction: column;
    align-self: center;
}

@media all and (max-width: 600px) {
    .bottom-page {
        justify-content: space-between;
    }

    .headline-box {
        margin: 0;
        padding: 5% 10%;
    }

    .image-college {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;

    }

    .image-college figcaption {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .size-3of4 .image-college {
        justify-content: space-between;
        align-items: flex-start;
        align-content: center;
        padding: 0px;
    }
}

.header-category {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}


.header-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
}

@media all and (max-width: 850px) {

    .header-category {
        flex-direction: column;
    }

    .header-title {
        width: 100%;
        padding: 5% 15%;
    }

    .header-img {
        display: none;
    }
}

/* choose delivery method form -----------------*/
.form-section-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

/* category page ////////////////*/
.category-page-columns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
}

.category-page-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

/* details page ////////////////*/
.static-info .group-3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    align-content: center;
}

.static-info .group-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

.static-info .group-2 .size-1of2 .static-info-textbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.static-info .group-2 .size-1of2 .static-info-textbox div.quantity {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.static-info .group-2 .size-1of2 .static-info-textbox div,
.static-info .group-2 .size-1of2 .static-info-textbox form {
    margin: 1% 0px;
    width: 100%;
}

@media all and (max-width: 800px) {
    .static-info .group-3 .size-1of3 {
        max-width: 90%;
        min-width: 90%;
    }

    .static-info .group-3 {

        flex-direction: column;
        align-items: center;
    }

    .static-info .group-2 {
        margin: 5% 0 0 0;
    }
}

.item-img {
    width: 100%;
    max-height: 250px;
    opacity: 0.2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.comment-input-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}


.comment-input-form .comment-item div {
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-items: baseline;
}


.comment-input-form form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.comment-input-form form div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    width: 100%;
}

.comment-input-form .space-between-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    width: 100%;
}


@media all and (max-width: 600px) {
    .category-page-columns {
        flex-direction: column;
        justify-content: center;
    }
}

@media all and (max-width: 600px) {

    .size-blist,
    .selected-blist {
        list-style-type: none;
        flex-direction: column;
    }

    .comment-input-form form div {
        width: 100%;

    }

    .comment-input-form .space-between-div {
        justify-content: space-between;
    }
}

/* grid /////////////////////////////////////////////////
///////////////////////////////////////////////////////////*/
.grid,
.colour-swatch {
    height: 100px;
}

.group-5,
.group-3,
.group-2,
.group-4,
.group-2of3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /* padding: 1em; */

    width: 100%;
    /* text-align: center; */
}

.group-5 {
    align-items: stretch;
}

.group-2 div {
    display: inline-block;
    padding: 10px;
}

form .group-2 {
    margin-bottom: 10px;
}

.head-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em;
}

.size-1of3 {
    /* padding: 50px;*/

    max-width: 33.33%;
    min-width: 33.33%;
    /*background-color: #fda934;*/
}

.size-1of2 {
    /*padding: 50px;*/

    max-width: 50%;
    min-width: 50%;
    /* background-color: #fde9ca;*/
}

.size-2of3 {
    padding: 2.5%;
    max-width: 66.67%;
    min-width: 66.67%;
    /*background-color: #B9D2D6;*/
}

.size-3of5 {
    max-width: 60%;
    min-width: 60%;
    padding: 1rem 4rem 4rem 4rem;
}

.size-2of5 {
    max-width: 40%;
    min-width: 40%;
}

.size-2of5 .image-college {
    background-color: #B9D2D6;
}

.size-1of4 {
    /*padding:50px;*/

    max-width: 25%;
    min-width: 25%;
    /*background-color: #fde9ca;*/
}

.size-1of4 div {
    margin: 5px;
    width: 80%;
}

#search .size-1of4 {
    position: sticky;
    top: 12%;
    z-index: 200;
}


.size-3of4 {
    /*padding:50px;*/

    max-width: 75%;
    min-width: 75%;
    /*background-color: #fde9ca;*/
}

@media all and (max-width: 700px) {

    .group-5,
    .group-3,
    .group-2,
    .group-4,
    .group-2of3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .group-4 .image-college {
        flex-direction: row;
        justify-content: flex-start;
        align-content: space-around;
    }

    .group-2 .size-1of2 .ordersummary {
        order: 1;
    }

    .size-1of2 {
        max-width: 100%;
        min-width: 100%;
    }

    .size-1of4 {
        display: inline-flex;
        justify-content: space-around;
        min-width: 100%;
    }

    #search .size-1of4 {
        position: sticky;
        top: 10%;
    }

    #search .size-1of4 .dropdown-p {
        padding: 5% 10%;
    }

    .size-3of4 {
        margin: 5px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        min-width: 98%;
    }


}


@media all and (max-width: 600px) {

    .size-blist,
    .selected-blist {
        flex-direction: column;
        align-content: center;
    }

}

.order-summary {
    background-color: rgba(185, 210, 214, 0.5);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;

    padding: 5% 5%;

    text-align: left;
}

.order-summary-cart {
    padding: 3% 10%;
    text-align: center;

}

.order-summary-cart .group-3 {
    margin: 2%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
    align-items: stretch;
}

.group-3 table {
    margin-bottom: 20px;
}

.order-summary table,
.order-summary-cart table {
    padding: 2%;
}

.size-2of5 table.total td {
    text-align: center;
    padding: 0 5%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: space-between;
}

.order-summary-cart table td {
    text-align: left;
    padding: 0px 1%;
}

.order-summary-cart .size-1of3,
.order-summary-cart .size-2of3 {
    padding: 2% 1%;
}

.order-summary-cart .size-1of3 table td h4 {
    text-align: center;
    padding: 0% 5%;
}


.order-summary-cart span {
    margin-right: 60%;
    padding: 0.5% 5%;
    display: inline-block;
}

.order-summary-cart h3 {
    margin: 1% 0px;
}



.order-summary .group-3 {
    margin: 5%;
}


.order-summary .group-3 .size-2of3 {
    background-color: rgba(185, 210, 214, 0.1);
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
}

.order-summary .group-3 .size-1of3 {
    padding: 5%;
    border: 1px solid black;
    border-radius: 10px;
}

.size-3of5 form {
    padding: 1% 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.size-3of5 form div,
.size-3of5 form input {
    width: 100%;
}

.size-3of5 form input[type=radio] {
    width: 5%;
    background-color: yellow;
}

.size-3of5 form input[type=radio]:checked {
    background-color: yellow;
}

.size-3of5 form div.group-2,
.size-3of5 form div.group-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}


.group-2-radio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.size-3of5 form div.group-2 input {
    width: 49%;
}

.size-3of5 form div.group-3 input {
    width: 32%;
}

.size-3of5 form div input {
    display: inline-block;
}

.size-3of5 form .group-2 .size-3of5 form div label {
    display: flex;
}

@media all and (max-width: 800px) {

    .size-3of5 form,
    .size-2of5 form {
        justify-content: center;
        padding: 1% 5%;
    }


    .size-3of5,
    .size-2of5 {
        max-width: 100%;
        min-width: 100%;
        padding: 2%;
    }

    .order-summary-cart .size-1of3,
    .order-summary-cart .size-2of3 {
        min-width: 100%;
        max-width: 100%;
    }

    .order-summary {
        padding: 10% 1%;
        justify-content: center;
        align-items: stretch;
        align-content: center;
    }

    .size-2of5 table.total td {
        text-align: center;
    }

    .order-summary-cart {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 20% 5% 10% 2%;
    }

    .order-summary-cart .size-2of3 {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        width: 100%;
        font-size: 13px;
    }

    .order-summary-cart span {
        margin-right: 0;
        margin-bottom: 5%;
        width: 50%;
    }

    .order-summary-cart table td {
        text-align: left;
        padding: 0px 1%;
    }

    .order-summary-cart table {
        width: 100%;
        padding: 0 1%;
    }

}

/*---------New cart-----------------*/
.cart {
    width: 70%;
    height: 360px;
    margin: 10px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Container of Each Item */
.item {
    padding: 10px 10px;
    height: 120px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.item:nth-child(3) {
    border-top: 1px solid #E1E8EE;
    border-bottom: 1px solid #E1E8EE;
}

/* BUTTON */
.buttons {
    padding-top: 30px;
    margin-right: 60px;
}

.delete-btn {
    display: inline-block;
    cursor: pointer;
}

/* BUTTON ANIMATE */
.is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

@keyframes animate {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: right;
    }
}

/* BUTTON ANIMATE */
.image {
    padding: 10px;
    background-color: blue;
}

.description {
    padding: 10px;
    width: 300px;
    background-color: red;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-start;
}

.description span {
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
}

.description span:first-child {
    margin-bottom: 5px;
}

.description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
}

/* QUANTITY BAR */
.quantity {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
    border-radius: 0px;

}

.plus-btn,
.minus-btn {
    width: 50px;
    height: 50px;
    border-radius: 2px;
    border: 2px solid #B9D2D6;
    border: none;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    background-color: #f2f2f2;
}

.plus-btn img,
.minus-btn img {
    text-align: center;
    filter: grayscale(1);

}


button:focus,
input:focus {
    outline: 0;
}

/* PRICE */
.total-price {
    background-color: yellow;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

@media (max-width: 800px) {
    .cart {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .image,
    .quantity,
    .description {
        width: 100%;
        text-align: center;
        margin: 6px 0;
    }

    .buttons {
        margin-right: 20px;
    }
}
