*,
*::after,
*::before {
    /*applied on everything existed before and after*/
    box-sizing: border-box;
}

/* main navigation //////////////////////////////*/

    .original-menu{
        display:inline;
    }

   .new-menu-500px{
        display:none;
    }

@media all and (max-width: 650px) {
    .original-menu{
        display:none;
    }
    .new-menu-500px{
        display:inline;
        width:100%;
    }
}

/* main sections //////////////////////////////*/

.slideshow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.slide-textbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.headline-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.new-collection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* did not change ////////////////////////////////////////////////
///////////////////////////////////////////////////////////*/


/* bullet list /////////////////////////////////////////////////
///////////////////////////////////////////////////////////*/

ul {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
    width:100%;
}

li {
    list-style-type: disc;
    margin:0em 1em;
    padding: 0.1em;
    color: #fda934;
}

.first-bullet {
    list-style-type: none;
}

@media all and (max-width: 700px) {
    .first-bullet {
        list-style-type: disc;
    }
}


.blist {
    list-style-position: inside;
}

.nlist {
    list-style-position: outside;
}

.size-blist a{
  color: #53929b;
  font-size: 13px;
  border-radius: 0.25em;
  padding:0.5em;

  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.selected-blist a {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.selected-blist:focus,
.selected-blist:hover,
.selected-nlist:focus,
.selected-nlist:hover {
    text-decoration: underline;

}


/* number list /////////////////////////////////////////////////
///////////////////////////////////////////////////////////*/

.size-nlist a {
    display: inline-block;
    color: #53929b;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.selected-nlist a {
    color: #68AD7D;
    padding: 0.2em;
}


/* things that changed////////////////////////////////////////////////
///////////////////////////////////////////////////////////*/

.bottom-page{
    margin:0px 10%;
    display: flex;
    flex-wrap: row wrap;
    flex-direction: row;
    justify-content: center;
}
.slideshow {
    display: flex;
    flex-wrap: row wrap;
    flex-direction: row;
    justify-content: center;
}

.slide-textbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.headline-box {
    display: flex;
    flex-wrap: row wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.new-collection {
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.image-college {
    padding: 20px;
    width:100%;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: flex-start ;
    align-content: flex-start;
}


.size-3of4 .image-college {

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    padding: 0px;
}


.size-3of4 h4,
.size-3of4 button{
    text-align: center;
    justify-content: flex-end;

}

.image-college figcaption{
        flex-direction:column;
        align-self: center;
}



@media all and (max-width: 600px) {

    .bottom-page{
        justify-content: space-between;
    }


    .image-college{
        flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
    }

    .image-college figcaption{
        flex-direction: column;
        align-items: center;
        align-content:center;
    }

    .size-3of4 .image-college {

        justify-content: flex-start;
        align-items: flex-start;
        align-content: center;

        padding: 0px;
    }
}

.header-category {
    display: flex;
    flex-wrap: row wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}

.header-img {
    display: flex;
    flex-wrap: row wrap;
    flex-direction: row;
    justify-content: stretch;
}




/* category page ////////////////*/

.category-page-columns {
    display: flex;
    flex-wrap: row wrap;
    flex-direction: row;
    justify-content: stretch;
}

.category-page-left {
    display: flex;
    flex-wrap: row wrap;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
}


/* details page ////////////////*/

.static-info {
    display: flex;
    flex-wrap: row wrap;
    flex-direction: row;
    justify-content: flex-end;
}

.static-info-textbox {
    flex: 1 1 auto;
    align-self: flex-end;
}

.item-img {
    width: 100%;
    max-height: 250px;
    opacity: 0.2;
    display: flex;
    flex-wrap: row wrap;
    flex-direction: row;
    justify-content: space-around;
}

.comment-input-form {
    display: flex;
    flex-wrap: row wrap;
    flex-direction: column;
}

.comment-input-form form {
    display: flex;
    flex-wrap: row wrap;
    flex-direction: row;
    justify-content: center;
}

@media all and (max-width: 500px) {
    .category-page-columns {
        flex-direction: column;
        justify-content: center;
    }
}

@media all and (max-width: 600px) {
    .size-blist,
    .selected-blist {
        list-style-type: none;
        flex-direction: column;
    }
}


/* grid /////////////////////////////////////////////////
///////////////////////////////////////////////////////////*/

.grid,
.colour-swatch {
    height: 100px;
}

.group-5,
.group-3,
.group-2,
.group-4,
.group-2of3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /* padding: 1em; */
    width: 100%;
    /* text-align: center; */
}

.group-5 {
     align-items: stretch;
}



.group-2 div{
    display:inline-block;
    padding:10px;
}

form .group-2{
    margin-bottom:10px;
}


.head-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em;
}

.size-1of3 {
    /* padding: 50px;*/
    max-width: 33.33%;
    min-width: 33.33%;
    /*background-color: #fda934;*/
}

.size-1of2 {
    /*padding: 50px;*/
    max-width: 50%;
    min-width: 50%;
    /* background-color: #fde9ca;*/
}

.size-2of3 {
    padding: 2.5%;
    max-width: 66.67%;
    min-width: 66.67%;
    /*background-color: #B9D2D6;*/
}

.size-3of5{

    max-width: 60%;
    min-width: 60%;
    padding:1rem 4rem 4rem 4rem;
}

.size-2of5{
    max-width: 40%;
    min-width: 40%;
}

.size-2of5 .image-college{
    background-color:#B9D2D6;
}

.size-1of4{
  /*padding:50px;*/
  max-width:25%;
  min-width:25%;
  /*background-color: #fde9ca;*/

}

.size-1of4 div{
    margin:5px;
    width:80%;
}

#search .size-1of4{
     position:sticky;
     top:82px;
     background-color:#fde9ca;
     z-index:200;
}

.size-3of4{
  /*padding:50px;*/
  max-width:75%;
  min-width:75%;
  /*background-color: #fde9ca;*/
}

@media all and (max-width: 650px) {
    .group-5,
    .group-3,
    .group-2,
    .group-4,
    .group-2of3 {
        flex-direction: column;
        justify-content: center;
    }



    .group-2 .size-1of2 .ordersummary{
        order:1;
    }

    .size-1of2 {
        max-width: 100%;
        min-width: 100%;
    }


    .size-1of4{
        display:inline-flex;
        justify-content: space-around;
        min-width: 100%;
    }

    #search .size-1of4{
         position:sticky;
         top:57px;
    }

    .size-3of4{
        margin:5px;
        display:flex;
        flex-flow: column wrap;
        justify-content: space-around;
        min-width: 98%;
    }

}

@media all and (max-width: 600px) {
    .size-blist,
    .selected-blist {
        flex-direction: column;
        align-content: center;
    }
}

.order-summary{
    background-color: rgba(185,210,214,0.5);
    border-radius:5px;
    border-left:1.5px solid #53929B;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    padding: 5%;
    text-align:center;
}

.order-summary .size-2of3 .group-2{

    background-color:rgba(185,210,214,0.3);
    padding:2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.size-3of5 form{
    padding:1% 10%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;

}


.size-3of5 form div ,
.size-3of5 form input{
    width:100%;  
}

.size-3of5 form input[type=radio]{
    width:0;  
    background-color: yellow;
}

.size-3of5 form div.group-2,
.size-3of5 form div.group-3 {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.group-2-radio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}



.size-3of5 form div.group-2 input{
    width:49%;
}

.size-3of5 form div.group-3 input{
    width:32%;
}

 

.size-3of5 form div input{
    display: inline-block;
}

.size-3of5 form .group-2
.size-3of5 form div label{
    display:flex
}

@media all and (max-width: 600px) {
    .size-3of5 form,
    .size-2of5 form{
        justify-content: center;
    }

     .size-3of5,
     .size-2of5{
        min-width:100%;
        max-width:100%;
     }


}
