/* GENERAL STYLING ------------------- */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    margin: 0;
    position: static;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 75px;
    /* pushes down content so navbar doesn't block */
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #484830;
}

h2 {
    font-family: 'Bungee Shade', cursive;
    font-size: 2.25rem;
    margin-bottom: 1rem;
    color: #484830;
    text-align: center;
}

h3 {
    font-family: 'Cornerstone', cursive;
    font-size: 1.6rem;
    margin-bottom: 0;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}


/* try chinese font */

h5 {
    font-family: 'Canto', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 20px #FDA934, 0 0 30px #FDA934
        /*, 0 0 40px #FDA934, 0 0 55px #FDA934, 0 0 75px #FDA934*/
    ;
    text-align: center;
}


/* cant delete the above part later */

h6 {
    font-family: 'Lato', sans-serif;
    font-size: 0.625rem;
    font-weight: lighter;
    margin: 0;
}

/*the cross in sale product price*/
s {
    color: red;
}

b {
    font-weight: bold;
}

section:not([class]) {
    padding: 3% 30%;
}

section.top-of-page{
    padding: 5% 30%;
    text-align:left;
}

@media (max-width: 700px) {
    section:not([class]) {
        padding: 3% 10%;
    }

    section.top-of-page{
        padding: 12% 12%;
        text-align:center;
    }
}


section h3 {
    margin: 0;
}

section p {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #53929b;
}

a:hover {
    text-decoration: underline;
}

li {
    color: #fda934;
}

ul {
    list-style: none;
    left: 0;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
}

a.in-text-link {
    margin: 10px;
    font-size: 0.8rem;
    color: #162628;
}

a.in-text-link:hover {
    text-decoration: underline;
}

.size-1of2 .main-body {
    padding: 10% 10%;
    margin-bottom:10%;
}

i {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-right: 5px;
}

.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 9px;
    height: 9px;
}

.arrow-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    width: 9px;
    height: 9px;
}

.in-here {
    text-decoration: underline;
}

video {
    width: 100%;
    position: static;
    left: 0;
    right: 0;
    top: 10%;
    margin: 0;
}

.checked {
    color: #FDA934;
}

.red-submit,
input[type=submit] {
    width: 100%;
    background-color: red;
    background-color: #53929b;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.red-submit {
    width: 100%;
    background-color: #53929b;
    text-align: center;
}


.red-submit:hover,
input[type=submit]:hover {
    background-color: red;
    text-decoration: none;
}

input[type=text],
input[type=date],
select {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #53929b;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
    color: grey;
}


textarea {
    /* 
    width: 60%;
    padding: 10px 10px;
    margin: 8px 0;
    border: 1px solid #53929b;
    border-radius: 4px;
    box-sizing: border-box; 
    */
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #53929b;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
    color: black;
}


/* ICON SETTINGS ------------------- */

.icon-img {
    width: 100%;
    text-align: center;
    width: 25px;
    height: 25px;
    filter: invert(100%);
}

.icon-img:hover {
    transform: scale(1.1);
}

.icon-img-logo {
    text-align: center;
    width: 150px;
    height: auto;
}

.icon-img-logo-new {
    text-align: center;
    position: static;
    width: 300px;
    height: auto;
}

.icon-img-logo-500px {
    width: 100%;
    text-align: center;
    width: 40px;
    height: 40px;
}

.icon-img-logo-checkout {
    width: 100%;
    text-align: center;
    width: 70px;
    height: 70px;
}

.img-wire {
    width: 100%;
}

.icon-120 {
    width: 120px;
    height: 120px;
    padding: 0.25em 0.5em;
}

.icon-76 {
    width: 76px;
    height: 76px;
    padding: 0.2em 0.4em;
}

.icon-60 {
    width: 60px;
    height: 60px;
    padding: 0.2em 0.3em;
}

.icon-32 {
    width: 32px;
    height: 32px;
    padding: 0.15em 0.2em;
}

.icon-20 {
    width: 20px;
    height: 20px;
    padding: 0.10em 0.15em;
}


/* Home page round intro image------- ///// /////////*/


/* ----------FX from https://codepen.io/jhermansen/pen/YEReZ------------*/

.index-round-img {
    width: 150px;
    height: 150px;
}

.checkout-item-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.checkout-item-img-big {
    width: 90px;
    height: 90px;
    border-radius: 50px;
}


/* ------details on image----*/


/*////////////////////////////*/

div.figures {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

figure.reveal-text {
    /* display:inline-block; */
    margin: 10px;
    padding: 0px;
    display: block;
    position: relative;
    overflow: hidden;
}

figure.reveal-text img {
    margin: 10px;
    border: 10px solid rgba(253, 233, 202, 0.5);
    border-radius: 100px;
    /* for image to react to mouse hover smoothly*/
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}


/* ------details on image caption----*/


/*///////////////////////////////////*/

figure.reveal-text figcaption a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

figure.reveal-text figcaption {
    position: absolute;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    padding: 15px;
    z-index: 100;
    width: 100%;
    height: 65%;
    overflow: hidden;
}


/* ------actions when hover----*/


/*///////////////////////////////////*/

figure.reveal-text:hover img {
    transform: scale(1.1);
    opacity: 0.1;
}

figure.reveal-text:hover figcaption {
    top: 100%;
    opacity: 1;
    text-decoration: underline;
    -moz-transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, -100%, 0);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

@media all and (max-width: 800px) {
    div.figure {
        margin: 30px;
    }

    figure.reveal-text img,
    figure.reveal-text figcaption {
        display: flex;
        justify-content: center;
    }

    figure.reveal-text img {
        margin: 5px;
        border: 5px solid rgba(253, 233, 202, 0.5);
    }

    figure.reveal-text figcaption {
        height: 80%;
    }

    figure.reveal-text figcaption a {
        font-size: 15px;
    }

    .index-round-img {
        width: 80px;
        height: 80px;
    }
}


/* -----------------------------------image college-------------------------------------*/
/*///////////////////////////////////////////////////////////////////////////////////////*/


/* home page product img*/
.products-img {
    width: 300px;
    height: 300px;
}

/* product category page product img*/
.size-3of4 .products-img {
    width: 215px;
    height: 215px;
}

/* product category page underline heading*/
.size-3of4 h4 {
    color: #FDE9CA;

    padding-bottom: 10px;
    padding-top: 0px;
    border-bottom: 2px dotted #53929B;
}



/*///////////////////////////////////////*/

.image-college figure.reveal-text,
.image-college figure.reveal-text button {
    margin: 5px;
}

/* product category page: each box with image & text */
.image-college figure.reveal-text {
    padding: 0px 1.25% 5% 1.25%;
}

/* product category page: image in the box */
.image-college figure.reveal-text img {
    border: none;
    border-radius: 0px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

/* product category page: product description+price in the box */
.image-college figure.reveal-text div {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 0px;
    position: relative;
}

.image-college figure.reveal-text div a,
.image-college figure.reveal-text div p,
.image-college figure.reveal-text div h4 {
    color: #FDE9CA;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    padding: 0px 1%;
    margin: 0;
}



/*the plus sign in small screen category page*/
.image-college figure.reveal-text div img {
    position: absolute;
    right: 0;
    z-index: 1;
    opacity: 0;
}

/*product category page: the hidden "ADD TO CART" */
.image-college figure.reveal-text figcaption {
    opacity: 0;
    text-align: center;
}

.image-college figure.reveal-text figcaption p,
.image-college figure.reveal-text figcaption a {
    font-size: 16px;
    text-decoration: none;
    padding: 5% 20%;
}

/*/////////////////////////////////////////////////////////*/

/*product category page: when page shown in desktop */
@media all and (min-width: 800px) {

    /*lower image opacity to show "ADD TO CART" */
    .image-college figure.reveal-text:hover img {
        transform: none;
        opacity: 0.4;
    }

    .new-collection .image-college figure.reveal-text:hover img {
        transform: scale(1.02);
        opacity: 1;
    }

    /*hide the "plus" icon when show "ADD TO CART" */
    .image-college figure.reveal-text div img.icon-img,
    .image-college figure.reveal-text div img.icon-img:hover {
        opacity: 0;
    }

    /*show "ADD TO CART" when HOVER */
    .image-college figure.reveal-text:hover figcaption {
        top: 50%;
        left: 0;
        opacity: 1;
        -moz-transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, -5%, 0);
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
    }
}

/*product category page: when page shown in size between desktop & small */
@media all and (max-width: 800px) {


    .image-college figure.reveal-text img.products-img {
        width: 100%;
        height: auto;
    }

    /*show image in full opacity*/
    .image-college figure.reveal-text:hover img {
        transform: none;
        opacity: 1;
    }

    /*show the "plus" icon when hide "ADD TO CART" */
    .image-college figure.reveal-text div img.icon-img,
    .image-college figure.reveal-text div img.icon-img:hover {
        opacity: 1;
    }

    /*hide "ADD TO CART" */
    .image-college figure.reveal-text figcaption,
    .image-college figure.reveal-text:hover figcaption {
        opacity: 0;
        text-decoration: none;
        transform: none;
        transition: none;
    }

    /*smaller container*/
    .image-college figure.reveal-text{
        width: 47%;
        height: auto;
        padding: 0px 1% 5% 1%;
    }

    .new-collection .image-college figure.reveal-text {
        width: 100%;
        height: auto;
        padding: 0px;
    }

    .image-college figure.reveal-text div p,
    .image-college figure.reveal-text div h4 {
        font-size: 12px;
    }

    .image-college figure.reveal-text div {
        flex-flow: wrap column;
    }

}

/*product category page: when page shown in mobile */
@media all and (max-width: 600px) {

    .image-college figure.reveal-text div img.icon-img,
    .image-college figure.reveal-text div img.icon-img:hover {
        opacity: 1;
    }

}


/* FORMS ------------------- ///// /////////*/

form {
    text-align: center;
}

form h4,
form label,
form input {
    display: block;
}

form div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

form div label,
form div input {
    padding: 10px;
}

label {
    display: block;
    font-size: 15px;
}




/* Email Signup */

.email-input-form {
    border-radius: 5px;
    background-color: #162628;
    min-width: 50%;

    margin: 0% 5%;
    padding: 2% 8%;
    text-align: center;
}

.email-input-form p {
    display: block;
    font-size: 13px;
    margin: 2% 0;
}

@media all and (max-width: 600px) {
    .email-input-form {
        border-radius: 5px;
        background-color: #162628;
        min-width: 50%;

        margin: 3% 5%;
        padding: 5% 5%;
        text-align: center;
    }
}

/* ------------------------------------------ Comment ------------------------------------- */

.comment-input-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5% 10%;
    width: 100%;
    position: relative;
}

.comment-input-form h4 {
    margin-top: 0;
    padding-bottom: 1%;
    border-bottom: 0.5px solid black;
    text-align: left;
}

.comment-input-form .comment-item {
    border-bottom: 1px solid #cccccc;
    padding: 1% 0 4% 0;
}


.comment-input-form .comment-item h4 {
    padding-bottom: 0%;
    border: none;
    margin-right: 10px;
}

.comment-input-form .comment-item h6 {
    color: #a6a6a6;
    font-size: 13px;
}

.comment-input-form .comment-item h6.comment-date {
    position: absolute;
    right: 10%;
}


.comment-input-form .comment-item span {
    padding: 0 2px 0 0;
}

.comment-input-form .comment-item div,
.comment-input-form .comment-item p,
.comment-input-form .comment-item p b {
    padding: 1% 0 0 0;
}

/* ------------------------------------------ Comment Input Form ------------------------------------- */

.comment-input-form form {
    background-color: white;
    width: 100%;
    position: relative;
    padding: 1% 5%;
    border-radius: 5px;
}


.comment-input-form form input[type=text],
.comment-input-form form input[type=date] {
    width: 30%;
    margin-right: 1%;
}

.comment-input-form form input[type=submit]{
    width:20%;
}


.comment-input-form form textarea,
.comment-input-form form div {
    margin: 0.2% 0%;
}

.comment-input-form form textarea {
    min-width: 100%;
    padding: 10px 10px;
    border: 1px solid #53929b;
    border-radius: 4px;
}



.rating {
    position: absolute;
    right: 9%;
    transform: rotateY(180deg);

    display: flex;
}

.rating input {
    display: none;
}

.rating label {
    display: block;
    cursor: pointer;
    width: 25px;
}

.rating label:before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;

    font-size: 20px;
    color: grey;
}

.rating label:after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    top: 24%;
    display: block;

    font-size: 20px;
    color: #FDA934;

    opacity: 0;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after {
    opacity: 1;
}

@media all and (max-width: 600px) {
    .comment-input-form{
        padding: 5% 5%;
        font-size:12px;
    }

    .comment-input-form form,
    .comment-input-form .comment-item{
        margin:1% 1% 2% 1%;
    }

    .comment-input-form p b{
        padding: 5% 5%;
        font-size:12px;
    }

    .comment-input-form form{
        margin:1% 0 2% 0;
        padding: 1% 2%;
    }

    .comment-input-form form input[type=submit]{
        width:30%;
    }

    .rating{
        position:absolute;
        right:0;
    }

    .rating label{
        display:block;
        cursor:pointer;
        width:20px;
        font-size:17px;
    }

}


.product-form-button {
    display: inline-block;
    padding: 0.5em 0.5em;
    /* width: 100px; */
    border: 0px;
    color: #fde9ca;
    background-color: #53929b;
    border-radius: 0.25em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.product-form-button:hover {
    background-color: red;
    color: white;
}


.size-3of5 input[type=text] {
    max-width: 100%;
}


/* SECTIONS -------------------*/

.slideshow {
    width: 100%;
}

.slide-bg {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;

    z-index: -1;
    opacity: 0.5;
}

.slide-header {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 20px #FDA934, 0 0 30px #FDA934, 0 0 40px #FDA934, 0 0 55px #FDA934, 0 0 75px #FDA934;
    text-align: center;
}

.slide-textbox {
    width: 600px;
    padding: 5em;
    align-content: center;
}

.slide-textbox p,
.slide-textbox h3,
.slide-textbox button {
    padding: 0.5em 1.5em;
    text-align: center;
}

.headline-box-checkout,
.headline-box {
    width: 100%;
    background-color: #162628;
    padding: 3% 20%;
    margin: 0;
    text-align: center;
}

.headline-box-checkout {
    padding: 1em 1em;
    background-color: white;
}

.headline-box h2,
.headline-box h5,
.headline-box p {
    margin: 1%;
    color: #FDE9CA;
}

.headline-box-checkout div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:1%;
    padding-top:5%;
}

.headline-box-checkout h6 {
    font-size: 0.8rem;
    padding:1%;
    
}



@media all and (max-width: 800px) {

    .headline-box-checkout {
        padding: 1%;
    
        text-align:center;
    }

    .headline-box-checkout h6 {
        font-size: 0.7rem;
    }


    .arrow-right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        width: 7px;
        height: 7px;
    }

    .arrow-left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        width: 7px;
        height: 7px;
    }

}


.new-collection {
    width: 100%;

    background-color: white;
    padding: 1%;
    text-align: center;
    /*border: 1px solid black;*/
}

.footer {
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 2% 5%;

    position:static;
    bottom:0;
}

.footer h6 {
    margin: 10px;
}

.footer div {
    margin-top: 2%;
}


.size-1of3 h3,
.size-1of3 button {
    margin: 5px;
}


/* product category page///////////////////////////////////////////*/

.header-category {
    position: static;
    width: 100%;
    height: auto;
    background-image: url("../img/home.jpg");
    filter: grayscale(100%);

    background-color: #53929B;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*background-attachment: fixed;*/
}


.header-title {
    background-color: rgba(256, 256, 256, 0.9);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);

    color: #162628;
    margin: 5% 0%;

    padding: 3% 5%;
    width: 40%;

    text-align: center;
    filter: grayscale(0%);
}


@media all and (max-width: 600px) {
    .header-title h2 {
        font-size:2rem;
    }

    .header-title{
        width: 100%;
        margin:10% 0%;
    }


}

.cover-image {
    width: 100%;
    height: 100%;
    max-height: 500px;
}

.category-page-columns {
    padding: 3% 3% 3% 2%;


    background-color: #162628;
    background-repeat: repeat-x;
    background-position: center;
    background-size: cover;
}


/* ------------------------------product detail page///////////////////////////////////////////*/

.static-info {
    padding: 0% 0% 0% 0%;
    background-color: #162628;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
}

.static-info a {
    color: #53929B;
    text-decoration: none;
}

.static-info a:hover {
    color: red;
    text-decoration: none;
}


.static-info .group-2 div {
    padding: 0;
    margin: 0;
}

.static-info .group-3 {
    padding: 2% 5%;
    background-color: #162628;
    color: #53929B;
}

.static-info .group-3 div {
    padding: 5% 5%;
    text-align: center;

}

@media all and (max-width: 700px) {
    .static-info {
        flex-flow: wrap column;
    }

    .static-info .group-2 {
        margin: 0%;
    }

}

.static-info .group-2 .size-1of2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.static-info-textbox form {
    display: inline-block;
    margin: 10px 10px 10px 0px;
    padding-right: 10%;
    text-align: left;
}

.static-info-textbox form select,
.static-info-textbox form option {
    height: 30px;
    width: 150px;
}

.static-info-textbox form label {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.static-info-textbox form input[type=submit] {
    height: 50px;
    width: 50%;
    background-color: red;
}

.static-info-textbox form input[type=submit]:hover {
    background-color: #53929b;
}

.static-info-textbox form select {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    font-weight: lighter;
    /*-- gonna change the style following this link---*/
    /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_custom_select */
}

.static-info .size-1of2 .static-info-textbox {
    padding: 5% 8%;
    width: 100%;
    color: #162628;
    background-color: #FDE9CA;
}

.static-info-textbox {
    background: rgba(256, 256, 256, 0.3);
    width: 100%;
    min-height: 300px;
}

.static-info-textbox button {
    padding: 0.5em;
    text-align: left;
}

.static-info-textbox h3 {
    text-align: left;
    margin: 5px 0px;
}

.static-info-textbox h4,
.static-info-textbox form label {
    text-align: left;
    margin: 3% 0px 3% 0px;
    font-size: 15px;
}

.static-info-textbox p {
    text-align: left;
    margin: 2% 0px;
    font-size: 15px;

}


/* --------- slideshow in detail page --------------*/
.static-info .size-1of2 .in-text-link,
.static-info .size-1of2 .slideshow-container {
    padding: 0;
    margin: 0;
}

.static-info .size-1of2 .slideshow-container {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}


.static-info .group-2 .size-1of2 .slideshow-container img {

    width: 100%;
    max-height: auto;
    object-fit: fill;
}



/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin: 0px 10px;
    width: auto;
    margin-top: -22px;
    padding: 16px;

    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(256, 256, 256, 0.8);
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/* 
  COMBINED ELEMENTS -------------------
*/

.nav-vintage {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    /*top: 0;*/
}

.nav-current {
    display: inline-block;
    color: white;
    background-color: #486060;
    padding: 0.25rem 0.25rem;
    text-decoration: none;
    transition: background-color 0.5s ease-out;
}


/* ///////////////////////////////////////////*/


/* ///////////////////////////////////////////*/


/* MAIN NAVIGATION -------------------*/

.main-nav-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0.2rem 1rem;
    width: 100%;
    height: 75px;

    position: fixed;
    position: -webkit-sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
    background-color: #162628;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
    text-shadow: 0 0 3px #422C0E;
    transition: all 0.5 ease;

    align-items: center;
}

.new-menu-500px .main-nav-bar {
    background-color: #162628;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}

.main-nav-bar a {
    text-decoration: none;
}

.main-nav-logo {
    width: 100%;
    position: center;
    width: 70px;
    height: 70px;
}


.bottom-page-nav {
    display: inline-block;
    margin: 20px;
    border: none;
}

.bottom-page-nav img {
    filter: none;
    width: 40px;
    height: 40px;
}


/* Mobile Dropdown Button - Main Navigation 
Help from https://www.w3schools.com/howto/howto_css_dropdown.asp */

.dropbtn-product {
    color: #FDE9CA;
    padding: 0.7rem;
    font-size: 1rem;
}

.dropbtn-product a {
    text-decoration: none;
}

.dropbtn-product-icon {
    padding: 0.7rem;
}

.dropbtn-product:hover {
    text-decoration: underline;
}



/* About Page Mini-Navigation */

.about-nav {
    text-align: center;
}


/* Product Page Dropdown */

.dropdown-p:hover .hover-list {
    display: block;
}

.size-1of4 .dropdown-p {
    display: inline-block;
    position: relative;
    width: 95%;
    padding: 5% 10%;
    color: #FDE9CA;
    background-color: #162628;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.category-page-columns .size-1of4 {
    padding: 0px 4% 0px 0%;
}

.size-1of4 .dropdown-p a {
    color: #FDE9CA;
}


/* Dropdown Content (Hidden by Default) */

.hover-list {
    display: none;
    position: absolute;
    left: 0;
    width: 40%;
    background-color: #162628;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.size-1of4 .hover-list {
    display: none;
    position: absolute;
    left: -2%;
    width: 100%;
    background-color: #162628;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

@media all and (max-width: 700px) {

    .category-page-columns .size-1of4 .dropdown-p,
    .category-page-columns .size-1of4 .hover-list {
        padding: 3% 0%;
    }

    .category-page-columns .size-1of4 {
        margin: 0;
        padding: 0;
        background-color: #162628;
        width: 100%;
    }

}


/* Links inside the dropdown */

.hover-list a {
    color: #FDE9CA;
    padding: 0.8em 1em;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.hover-list a:hover {
    background-color: #fda934;
    color: #F7E5B5;
    cursor: pointer;
}

.hover-list a.red {
    background-color: rgba(256, 0, 0, 0.5);
}


/* CHECKOUT NAVIGATION -------------------*/

.nav-checkout {
    background-color: #FDDCAC;
    padding: 0.5em 1em;
}

nav.nav-checkout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

ul.nav-checkout {
    display: inline;
    list-style: none;
    text-align: center;
    max-width: 100%;
}

ul.nav-checkout li {
    display: inline-block;
    float: right;
}

.nav-checkout-logo {
    max-height: 3em;
}


/* ///////////////////////////////////////////*/

button {
    margin-bottom: 0;
}

.button-nav-img {
    border: none;
    background-color: #162628;
}

.button-nav-img:hover {
    transform: scale(1.01);
}

.headline-box button.button-nav,
.new-collection button.button-nav {
    background-color: #162628;
}

.headline-box button.button-nav a,
.new-collection button.button-nav a {
    text-decoration: none;
    color: white;
}

.headline-box button.button-nav:hover,
.new-collection button.button-nav:hover {
    border: 2px solid black;
    background-color: white;
}

.headline-box button.button-nav:hover {
    border: 2px solid black;
    background-color: #53929B;
}

.headline-box button.button-nav:hover a,
.new-collection button.button-nav:hover a {
    color: black;
}


/* Styling for the navigation button ///////////////////////////*/

.button-nav,
.head-nav,
.button-text {
    display: inline-block;
    padding: 0.5em 0.75em;
    border: 0px;
    border-radius: 0.25em;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: black;
    background-color: #fddcac;
    text-decoration: none;
    text-align: center;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.button-nav:hover,
.button-nav:focus {
    background-color: #162628;
    color: #FDE9CA;
}

.button-nav:hover a,
.button-nav:focus a {
    color: #fde9ca;
}

.head-nav:hover,
.head-nav:focus {
    background-color: #B9D2D6;
}

.submit-button,
.button-icon {
    display: inline-block;
    color: white;
    border-radius: 0.5em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.2s ease-out;
}

.button-text {
    background-color: #53929B;
}

.button-text a {
    color: white;
}

.button-icon:hover,
.button-icon:focus {
    background-color: #fddcac;
    transform: scale(1.1);
}

.button-text:hover,
.button-text:focus {
    background-color: #fde9ca;
}

.button-text:hover a,
.button-text:focus a {
    color: #422C0E;
}


/* Styling for about us page ///////////////////////////*/

.neon-logo h5 {
    font-size: 6rem;
    margin-bottom: 3rem;
}

body.about-page section.main-body-about {
    width: 100%;
    padding: 1% 25%;
    display: inline-block;
    background-color: #162628;
    color: white;
}

body.about-page section.main-body-about div {
    margin: 10px 10px;
    width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

body.about-page section.main-body-about div section {
    width: 70%;
    padding: 10px 5%;
}

body.about-page section.main-body-about div section.neon-logo {
    width: 30%;
    z-index: 100;
}

@media all and (max-width: 750px) {
    body.about-page section.main-body-about {
        width: 100%;
        padding: 1% 10%;
        display: inline-block;
    }

    .neon-logo h5 {
        font-size: 4rem;
        margin-bottom: 3rem;
    }
}


/* ---------Order Summary--------------*/

.checkout3-border {
    padding: 0px 20px;
}

.checkout3-border h4 {
    padding: 20%;
    border-bottom: 2px solid black;
}

.order-summary h3 {
    padding: 0% 0% 3% 0%;

    text-align:center;
}

.checkout3-border h4 {
    padding: 20%;
    border-bottom: 2px solid black;
}

.order-summary tr {
    padding: 20px 5px;
}

table {
    width: 90%;
    padding: 5%;

    background: #FFFFFF;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.10);
    border-radius: 6px;

}

.order-summary td {
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    padding: 0px 10px;
}

.order-summary td h4 {
    text-align: left;
    padding: 0px;

}

.total-border {
    margin: 0px;
    border-top: 2px solid rgba(22, 38, 40, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


table .cart-column {
    background-color: red;
}



/* --------- checkout Page form containers --------------*/

.container table tr td {
    border: 1px solid black;
    margin: 10px;
}

.container {
    border: 1px solid rgba(200, 200, 200, 0.5);
    border-radius: 5px;
}

.container td {
    padding: 5% 5% 5% 5%;
    margin: 0;
}

.container {
    width: 100%;
}

.size-3of5 form h4,
.size-3of5 form table {
    margin-bottom: 15px;
}

.size-3of5 form {
    position: relative;
}

.hidden-form {
    visibility: hidden;
    bottom: 0;
}
